#EVENTHUB
bootstrap.servers=
topics=
group.id=$Default
request.timeout.ms=60000

sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=

#PostgreSQL JDBCCAtalogs
postgresql.defaultDatabase=
postgresql.username=
postgresql.password=
postgresql.baseUrl=

#Mongo DataStream
mongo.uri=
mongo.database=
mongo.collection=